[submodule "semesters/1/university-bachelor-semester-project-1"]
	path = semesters/1/university-bachelor-semester-project-1
	url = git@github.com:trueNAHO/university-bachelor-semester-project-1.git

[submodule "semesters/1/university-bachelor-semester-project-1-report"]
	path = semesters/1/university-bachelor-semester-project-1-report
	url = git@github.com:trueNAHO/university-bachelor-semester-project-1-report.git

[submodule "semesters/2/university-bachelor-semester-project-2"]
	path = semesters/2/university-bachelor-semester-project-2
	url = git@github.com:trueNAHO/university-bachelor-semester-project-2.git

[submodule "semesters/2/university-bachelor-semester-project-2-report"]
	path = semesters/2/university-bachelor-semester-project-2-report
	url = git@github.com:trueNAHO/university-bachelor-semester-project-2-report.git

[submodule "semesters/2/university-programming-fundamentals-2"]
	path = semesters/2/university-programming-fundamentals-2
	url = git@github.com:trueNAHO/university-programming-fundamentals-2.git

[submodule "semesters/3/university-bachelor-semester-project-3"]
	path = semesters/3/university-bachelor-semester-project-3
	url = git@github.com:trueNAHO/university-bachelor-semester-project-3.git

[submodule "semesters/3/university-bachelor-semester-project-3-activity-report"]
	path = semesters/3/university-bachelor-semester-project-3-activity-report
	url = git@github.com:trueNAHO/university-bachelor-semester-project-3-activity-report.git

[submodule "semesters/3/university-bachelor-semester-project-3-presentation"]
	path = semesters/3/university-bachelor-semester-project-3-presentation
	url = git@github.com:trueNAHO/university-bachelor-semester-project-3-presentation.git

[submodule "semesters/3/university-bachelor-semester-project-3-presentation-secondary-language"]
	path = semesters/3/university-bachelor-semester-project-3-presentation-secondary-language
	url = git@github.com:trueNAHO/university-bachelor-semester-project-3-presentation-secondary-language.git

[submodule "semesters/3/university-bachelor-semester-project-3-project-subject-description"]
	path = semesters/3/university-bachelor-semester-project-3-project-subject-description
	url = git@github.com:trueNAHO/university-bachelor-semester-project-3-project-subject-description.git

[submodule "semesters/3/university-bachelor-semester-project-3-report"]
	path = semesters/3/university-bachelor-semester-project-3-report
	url = git@github.com:trueNAHO/university-bachelor-semester-project-3-report.git

[submodule "semesters/3/university-bachelor-semester-project-3-report-secondary-language"]
	path = semesters/3/university-bachelor-semester-project-3-report-secondary-language
	url = git@github.com:trueNAHO/university-bachelor-semester-project-3-report-secondary-language.git
