[submodule "semester_1_2022_09/university-bachelor-semester-project-1"]
	path = semester_1_2022_09/university-bachelor-semester-project-1
	url = git@github.com:trueNAHO/university-bachelor-semester-project-1.git

[submodule "semester_1_2022_09/university-bachelor-semester-project-1-report"]
	path = semester_1_2022_09/university-bachelor-semester-project-1-report
	url = git@github.com:trueNAHO/university-bachelor-semester-project-1-report.git

[submodule "semester_2_2023_02/university-bachelor-semester-project-2"]
	path = semester_2_2023_02/university-bachelor-semester-project-2
	url = git@github.com:trueNAHO/university-bachelor-semester-project-2.git

[submodule "semester_2_2023_02/university-bachelor-semester-project-2-report"]
	path = semester_2_2023_02/university-bachelor-semester-project-2-report
	url = git@github.com:trueNAHO/university-bachelor-semester-project-2-report.git

[submodule "semester_2_2023_02/university-programming-fundamentals-2"]
	path = semester_2_2023_02/university-programming-fundamentals-2
	url = git@github.com:trueNAHO/university-programming-fundamentals-2.git

[submodule "semester_3_2023_09/university-bachelor-semester-project-3-activity-report"]
	path = semester_3_2023_09/university-bachelor-semester-project-3-activity-report
	url = git@github.com:trueNAHO/university-bachelor-semester-project-3-activity-report.git

[submodule "semester_3_2023_09/university-bachelor-semester-project-3-project-subject-description"]
	path = semester_3_2023_09/university-bachelor-semester-project-3-project-subject-description
	url = git@github.com:trueNAHO/university-bachelor-semester-project-3-project-subject-description.git
